<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ Hàng - Happy Life</title>
    <link rel="stylesheet" type="text/css" href="../static/css/cart.css">
</head>

<body>
    <!-- Phần header -->
    <header>
        <div class="header">
            <a id="logo" href="index" class="logo"><img src="../static/logo/final2.png" alt="Logo của website"></a>
            <div class="header-right">
                <div class="dropdown">
                    <button class="dropbtn">All Categoriest<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Cosmetics</a>
                        <a href="#">Fast Food</a>
                        <a href="#">Beverage</a>
                        <a href="#">Frozen Foods</a>
                        <a href="#">Canned Foods</a>
                        <a href="#">Stationery</a>
                        <a href="#">Confectionery</a>
                        <a href="#">Spices</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Shop Locator<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                      <a href="#">Quận Tân Bình</a>
                      <a href="#">Quận Bình Thạnh</a>
                      <a href="#">Quận 7</a>
                      <a href="#">Quận 1</a>
                      <a href="#">Quận 9</a>
                      <a href="#">Thành phố Thủ Đức</a>
                      <a href="#">Quận Phú Nhuận</a>
                      <a href="#">Quận Bình Chánh</a>
                    </div>
                </div>
                <a class="active">Cart</a>
                <a href="account">Sign In</a>
                <a href="#">About Us</a>
            </div>
            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton"><i class="fa fa-search"></i>Search</button>
                </div>
            </div>
        </div>
    </header>
    <!-- Phần content -->
    <main>
        <h1>Shopping Cart</h1>
        <div class="shopping-cart">
            <div class="column-labels">
                <label class="product-image">Image</label>
                <label class="product-details">Product</label>
                <label class="product-price">Price</label>
                <label class="product-quantity">Quantity</label>
                <label class="product-removal">Remove</label>
                <label class="product-line-price">Total</label>
            </div>
            <div class="product">
                <div class="product-image">
                    <img src="../static/product/image1.jpg">
                </div>
                <div class="product-details">
                    <div class="product-title">Coca Cola Zero không đường</div>
                    <p class="product-description">Nước giải khát không đường Coca Cola Zero với hương vị thơm ngon, không chỉ giải tỏa cơn khát trong những ngày nóng nực mà còn cung cấp nguồn năng lượng cùng hàm lượng khoáng chất dồi dào cho cơ thể.
                        <br>Sản phẩm không chứa đường nên rất phù hợp với những người ăn kiêng.
                    </p>
                </div>
                <div class="product-price">20,000 vnđ</div>
                <div class="product-quantity">
                    <input type="number" value="2" min="1">
                </div>
                <div class="product-removal">
                    <button class="remove-product">
                        Remove
                    </button>
                </div>
                <div class="product-line-price">40,000 vnđ</div>
            </div>

            <div class="product">
                <div class="product-image">
                    <img src="../static/product/image5.jpg">
                </div>
                <div class="product-details">
                    <div class="product-title">Ba chỉ heo rút sườn G 300g</div>
                    <p class="product-description">Ba rọi heo rút sườn G được đóng gói và bảo quản đạt các tiêu chuẩn về an toàn toàn thực phẩm. Tỉ lệ nạc mỡ xen kẻ, thịt nhiều hơn mỡ nên rất hợp để nướng, chiên với sả ớt, kho, luộc,...  
                        <br> Thịt heo có thể dùng điện thoại quét mã QR trên tem sản phẩm để kiểm tra nguồn gốc.</p>
                </div>
                <div class="product-price">55,000 vnđ</div>
                <div class="product-quantity">
                    <input type="number" value="1" min="1">
                </div>
                <div class="product-removal">
                    <button class="remove-product">
                        Remove
                    </button>
                </div>
                <div class="product-line-price">55.000 vnđ</div>
            </div>
            <div class="product-couponcode">
                <input class="form-control" placeholder="Coupon Code" type="text">
                <div class="input-group-append">
                    <button class="btn btn-default" type="button">Apply</button>
                </div>
            </div>

            <div class="totals">
                <div class="totals-item">
                    <label>Subtotal</label>
                    <div class="totals-value" id="cart-subtotal">95,000</div>
                </div>
                <div class="totals-item">
                    <label>Tax (5%)</label>
                    <div class="totals-value" id="cart-tax">4,750</div>
                </div>
                <div class="totals-item">
                    <label>Shipping</label>
                    <div class="totals-value" id="cart-shipping">10,000</div>
                </div>
                <div class="totals-item totals-item-total">
                    <label>Grand Total</label>
                    <div class="totals-value" id="cart-total">109,750</div>
                </div>
            </div>

            <button class="checkout">Checkout</button>

        </div>
    </main>
</body>

</html>